.parea0 img{
    width:100px;
    height:200px;
    padding:50px 0;
}

.parea0 h4{
   
    text-align: center;
}
.parea0 p{
 
    text-align: center;
}
.footerarea{
    background-color: #1e1d1d;
    padding:50px 0;
   
}
.footerarea h6{
    color: #FFFFFF;
    line-height:22px;
    padding: 20px 0;
    
}
.footerarea button{
    border-radius:30px;
    width:200px;
    height:40px;
    border:none;
}
.footerarea p{
   color: #FFFFFF;
   background-color: rgba(185, 185, 185, 0.4);
   border-radius:20px;
}
.footerarea ul li{
    list-style: none;
    
}
.footerarea ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: #ffffff;
    line-height:30px;
    
   
}
.footerarea h5{
    color: #FFFFFF;
    text-transform: capitalize;
    font-size: 15px;
}
.footerarea h4{
    color: #FFFFFF;
    text-transform: capitalize;
}
.footerarea1{
    background-color: rgb(0, 0, 0);
    padding: 25px 0;
}
.footerarea1 h5{
   color: #FFFFFF;
   font-size: 15px;
   text-transform: capitalize;
}

.headerarea{
    background-image:linear-gradient(-30deg,rgb(0, 0, 255) 0%,rgb(0, 4, 255) 50%,rgb(255, 22, 22) 50%,white 100%);
}
.headerarea .card{
    width: auto;
    text-align: center;
    text-transform: capitalize;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 0%;
    background-color: rgba(185, 185, 185, 0.4);
}
.headerarea .card a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.headerarea .card a:hover{
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}
.parea20{
    padding:60px 0;
}
.parea21{
    padding:60px 0;
}
.secondarea .card-body{
    text-align: center;
    border:whitesmoke;
    
}
 .secondarea a{
    text-decoration: none;
    color:black;
}
 .secondarea a:hover{
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}

.cardarea .card img{
    width: 50%;
    height: 50%;
    margin:0 60px;
    
}
.cardarea .card h5{
    text-align: center;
    text-transform: capitalize;
}
.cardarea .card p{
    text-align: center;
}
.cardarea .card{
    box-shadow: 26px 25px 127px 30px rgba(0,0,0,0.09); 
}